@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('/assets/inter.ttf') format('ttf');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}


@theme {
    /* Colores */

    --color-primary: #09f;
    --color-primary-light: #ceecff;

    /* Breakpoints */
    --breakpoint-xs: 350px;

    /* Fuentes */
    --font-sans: 'Inter', system-ui, sans-serif;
}

.social-button {
    @apply p-2 size-10 xs:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;

}